<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Teams</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div th:replace="navbar_create_team :: navbar"></div>
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class = "text-center"> Create New Team</h1>
                <div class = "card-body">
                    <form th:action="@{/team}" th:object = "${team}" method="POST">
                        <div class = "form-group">
                            <label class="createnewteamteamname"> Team Name</label>
                            <input
                                type = "text"
                                name = "name"
                                th:field = "*{name}"
                                class = "form-control"
                                placeholder = "Enter Team Name" />
                        </div>
                        <div class = "box-footer">
                            <button type="submit" class = "btn btn-secondary">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
                </div>
        </div>
    </div>
</body>
</html>