<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Teams</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div th:replace="navbar_edit_team :: navbar"></div>
<div class = "container">
    <div class = "row">
        <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Edit Team </h1>
            <div class = "card-body">
                <form th:action="@{/team/{id} (id=${team.id})}" th:object = "${team}" method="POST">
                    <div class = "form-group">
                        <label> Team Name</label>
                        <input
                                type = "text"
                                name = "name"
                                th:field = "*{name}"
                                class = "form-control"
                                placeholder = "Enter Team Name" />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
        <th> Position</th>
        <th> Name</th>
        <th> Sprite</th>
        <th> Item</th>
        <th> Nature</th>
        <th> Ability</th>
        <th> Action</th>

    </tr>
    </thead>

    <tbody> <!-- -->
    <tr th:each = "teamMember: ${teamMember}"><!-- for each teammember create a table row with the following values -->

        <td th:text= "${teamMember.position}"></td><!-- Gets the position value for the team member -->
        <td th:text= "${teamMember.pokemon.name}"></td>
        <td><img th:src="@{${'https://img.pokemondb.net/sprites/x-y/normal/' + #strings.toLowerCase(teamMember.pokemon.name) + '.png'}}" /></td><!-- takes our pokemon name from the team member, converts it too lower case and inserts it into the sprite URL -->
<!--        <td th:text= "${teamMember.ability}"></td>-->
        <td th:text= "${teamMember.item.name}"></td>
        <td th:text= "${teamMember.nature.name}"></td>
        <td th:text= "${teamMember.ability.name}"></td>

        <td>
            <a th:href = "@{editTeamMember/{teamId}/{id} (id=${teamMember.id},teamId=${team.id})}"
               class = "btn btn-primary">Update</a>

        </td>
    </tr>
    </tbody>

</table>
</div>
</body>
</html>