<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Teams</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="container text-center">

<div class ="container">
    <div class = "row">
        <h1> Teams </h1>
    </div>
    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/team/new}" class = "btn btn-secondary btn-lg mb-3">Add Team</a>

        </div>
    </div>

    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>

            <th> Team Name</th>
            <th> Update</th>
            <th> Delete</th>

        </tr>
        </thead>

        <tbody> <!-- Loops through our list of teams populating a row in the table for each team -->
        <tr th:each = "team: ${index}">
            <td th:text= "${team.name}"></td>
            <td>
                <a th:href = "@{/team/edit/{id}(id=${team.id})}"
                   class = "btn btn-primary">Update</a> <!-- Takes us to the team update page, using the Team Id to load the content -->
            </td>
            <td>
                <a th:href = "@{/team/delete/{id}(id=${team.id})}"
                   class = "btn btn-danger">Delete</a><!-- Deletes the team -->

            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>